---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  // Sort posts by pubDate (newest first, adjust as you like)
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return posts.map((post, index) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
        prev: index < posts.length - 1 ? posts[index + 1] : null,
        next: index > 0 ? posts[index - 1] : null,
      },
    };
  });
}

const { post, prev, next } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <article class="prose lg:prose-xl mx-auto py-10">
      <div class="w-full lg:max-w-[1170px] mx-auto px-5">
     <h1 class="text-center text-3xl font-bold font-open-sans">{post.data.title}</h1>
    <p class="text-sm text-gray-500 flex flex-row"><img src="/images/user-filled-svgrepo-com.svg" alt="Calendar Icon" class="inline-block w-4 mr-2">
      {post.data.author ?? "Unknown"} — {post.data.pubDate.toDateString()}
    </p>
    <div class="mt-6 markdown-content">
      <Content />
    </div>
    
    <nav class="flex justify-between mt-12 pt-6 border-t">
      {prev ? (
        <a href={`/math/${prev.slug}`} class="text-sm text-black hover:underline inline-flex gap-1 group">
          <img src="/images/previous-svgrepo-com.svg" alt="" class="inline-block w-3 group-hover:-translate-x-1 transition-transform duration-200" /> {prev.data.title}
        </a>
      ) : <span />}
      
      {next ? (
        <a href={`/math/${next.slug}`} class="text-sm text-black hover:underline group inline-flex gap-1">
          {next.data.title} <img src="/images/next-svgrepo-com.svg" alt="" class="inline-block w-3 group-hover:translate-x-1 transition-transform duration-200" />
        </a>
      ) : <span />}
    </nav>
   </div>


  </article>
</BaseLayout>
